@{
    ViewData["Title"] = "Danh sách giảng viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Chào mừng quay trở lại với trang chủ <span style="color:red">ADMIN</span></h1>