@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MCQ.Models.User

@{
    ViewData["Title"] = "ChangePassword";
    if (Model.IdRole == 1)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (Model.IdRole == 2)
    {
        Layout = "~/Areas/Teacher/Views/Shared/_LayoutTeacher.cshtml";

    }
}
@section OrangeArea
{
    <div>
        <header style="height:0vh" id="fh5co-header" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
            <div style="height:15vh;background-color:lightsalmon" class="overlay"></div>
        </header>
    </div>
}
<div style="margin-top:100px">
    <h1>Thay đổi mật khẩu</h1>
    <div style="float:left" class="container col-3">
        <form method="post" asp-action="ChangePassword">
            <div class="form-group">
                <label for="oldPassword">Nhập mật khẩu cũ:</label>
                <input type="password" id="oldPassword" name="oldPassword" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="newPassword">Nhập mật khẩu mới:</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" required
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                       title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm ít nhất một chữ số, một chữ thường và một chữ hoa." />
            </div>
            <div class="form-group">
                <label for="confirmPassword">Nhập lại mật khẩu mới:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary">Thay đổi mật khẩu</button>
        </form>
    </div>
</div>