@model MCQ.Models.User

@{
    ViewData["Title"] = "ForgotPasword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section OrangeArea
{
    <div>
        <header style="height:0vh" id="fh5co-header" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
            <div style="height:15vh;background-color:lightsalmon" class="overlay"></div>
        </header>
    </div>
}
<div style="margin-top:100px">
    <h1>Quên mật khẩu</h1>

    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="ForgotPassword">
                <div class="form-group">
                    <label class="control-label">Nhập email mà bạn đã dùng để đăng kí tài khoản</label>
                    <input name="email" class="form-control" type="email" required />
                </div>
                <div class="form-group">
                    <input type="submit" value="Gửi" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="javascript:hisory.back()">Quay về</a>
    </div>
</div>
