@using System.Security.Claims
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section OrangeArea
{
    <div>
        <header style="height:0vh" id="fh5co-header" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
            <div style="height:50vh;background-color:lightsalmon" class="overlay"></div>
        </header>
    </div>
}
<div style="height:15vh" class="d-flex align-items-center justify-content-center">

    <h1  class="text-white">Chào mừng các bạn <span style="color:red">Sinh Viên</span> đã quay trở lại</h1>
</div>


@* @{
    if ((bool)ViewData.Model == true) // Fix the variable name
    {
        <p>đã đăng nhập</p>
    }
    else
    {
        <p>chưa đăng nhập</p>
    }
} *@
