@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutTeacher.cshtml";
}

<h1>Thay đổi mật khẩu</h1>
<div style="float:left" class="container col-3">
    <form method="post" asp-action="ChangePassword">
        <h4 style="color:red">@ViewBag.ErrorMessage</h4>
        <div class="form-group">
            <label for="oldPassword">Nhập mật khẩu cũ:</label>
            <input type="password" id="oldPassword" name="oldPassword" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="newPassword">Nhập mật khẩu mới:</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" required
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                   title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm ít nhất một chữ số, một chữ thường và một chữ hoa." />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Nhập lại mật khẩu mới:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Thay đổi mật khẩu</button>
    </form>
</div>

