@model MCQ.Areas.Teacher.ViewModel.ChartViewModel
@{
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutTeacher.cshtml";

}
@section Chart
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
}
@if (Model.CheckIfDidTest == true)
{
    <div class="row">
            <div class="col-lg-5 grid-margin grid-margin-lg-0 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Điểm trung bình</h4>
                        <canvas id="myBarChart"></canvas>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-lg-5 grid-margin grid-margin-lg-0 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Đạt/Không đạt</h4>
                        <canvas id="myPieChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
      
    </div>
}
else
{
    <h2 class="text-danger">* Chưa có thống kê cho bài kiểm tra này</h2>
}

<script>
    // Khai báo dữ liệu cho biểu đồ pie
    const piedata = {
        datasets:
            [{
                data: @Html.Raw(Json.Serialize(Model.AmountPassedOrFailedData)), 
                backgroundColor: ['green', 'red'],
            }],
        labels: @Html.Raw(Json.Serialize(Model.AmountPassedOrFailedLabels)), 
    };

    // Tạo biểu đồ pie
    const pieconfig = {
        type: 'pie',
        data: piedata,
        options: {
            // Cấu hình tùy chọn khác (nếu cần)
        },
    };

    // Khởi tạo biểu đồ
    const myPieChart = new Chart(document.getElementById('myPieChart'), pieconfig);


    const bardata = {
        datasets: [{
            data: @Html.Raw(Json.Serialize(Model.DTBData)), 
            backgroundColor: ['pink'],
            label: 'Điểm trung bình'
        }],
        labels: @Html.Raw(Json.Serialize(Model.DTBLabels)), 
    };

    // Tạo biểu đồ pie
    const barconfig = {
        type: 'bar',
        data: bardata,
        options: {
        },
    };

    // Khởi tạo biểu đồ
    const myBarChart = new Chart(document.getElementById('myBarChart'), barconfig);
</script>


